<div class="row justify-content-center">
  <div class="col-md-4 register-funcionario">
    <!-- form card register -->
    <div class="card-body">
      <form [formGroup]="funcionarioForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="inputName">Nome</label>
          <input class="form-control" type="text" formControlName="name" value="Pedro">
          <!-- error -->
          <div class="invalid-feedback" *ngIf="submitted && myForm.name.errors?.required">
            Nome é requido.
          </div>
        </div>

        <div class="form-group">
          <label for="inputEmail3">Email</label>
          <input class="form-control" type="text" formControlName="email" value="pedrofds@hotmail.com">
          <!-- error -->
          <div class="invalid-feedback" *ngIf="submitted && myForm.email.errors?.required">
            Entre com o seu email.
          </div>
          <div class="invalid-feedback" *ngIf="submitted && myForm.email.errors?.pattern">
            Entre com um email válido.
          </div>
        </div>

        <div class="form-group">
          <label for="inputPassword3">Cargo</label>
          <select class="custom-select form-control" (change)="updateProfile($event.target.value)"
            formControlName="cargo">
            <option value="">selecione...</option>
            <option *ngFor="let funcionarioProfile of FuncionarioProfile" value="{{funcionarioProfile}}">{{funcionarioProfile}}
            </option>
          </select>
          <!-- error -->
          <div class="invalid-feedback" *ngIf="submitted && myForm.cargo.errors?.required">
            Selecione o cargo.
          </div>
        </div>

        <div class="form-group">
          <label for="inputVerify3">Nº Celular</label>
          <input class="form-control" type="text" formControlName="numeroTelefone" value="17996018442" >
          <!-- error -->
          <div class="invalid-feedback" *ngIf="submitted && myForm.numeroTelefone.errors?.required">
            Entre com o seu celular.
          </div>
          <div class="invalid-feedback" *ngIf="submitted && myForm.numeroTelefone.errors?.pattern">
            Somente números
          </div>
        </div>
        <div class="form-group">
          <label for="inputVerify3">Senha</label>
          <input class="form-control" type="password" formControlName="senha" value="" >
          <!-- error -->
          <div class="invalid-feedback" *ngIf="submitted && myForm.senha.errors?.required">
            Entre com o seu celular.
          </div>
         
        </div>

        <div class="form-group">
          <button class="btn btn-success btn-lg btn-block" type="submit">Cadastrar</button>
        </div>
      </form>

    </div>
  </div><!-- form card register -->
</div>
